html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100dvh;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 720px) {
  body {
    align-items: center;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  width: 1000px;
  padding: 0 120px;
  align-items: center;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  text-align: center;
  border-radius: 10px;
  border: 6px solid transparent;
  transition: 0.1s all;
  padding: 0 10px 10px;
}

.grid-item:hover {
  border: 6px solid #d3d3d3;
  cursor: pointer;
  transform: scale(1.04);
}

.grid-item:hover > img {
  transition: 1s all;
  transform: scale(1.04);
}

.grid-item .hobby ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.grid-item .hobby ul li {
  border: 2px solid #9e9e9e;
  border-radius: 6px;
  display: inline-block;
  font-size: 12px;
  margin: 0 7px 7px 0;
  padding: 7px;
  background: white;
}

.btn {
  border: 2px solid #060806;
  border-radius: 6px;
  display: inline-block;
  font-size: 12px;
  margin: 0 7px 7px 0;
  padding: 7px;
  background: #f6f6f6;
  box-shadow: 0px 5px 0px #0000004a;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn:active {
  box-shadow: none;
  background: #a5a5a5;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}
